.page {
  padding: 60px 80px;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Título principal */
.mainTitle {
  color: #f9c400;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: center;
}

/* Títulos de sección */
.sectionTitle {
  color: #f9c400;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.section {
  margin-bottom: 40px;
}

/* Formularios centrados */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 450px;
  margin-top: 10px;
}

/* Inputs */
.input {
  background: white;
  border: none;
  padding: 12px 18px;
  border-radius: 25px;
  font-size: 16px;
  color: black;
}

.input:focus {
  outline: 2px solid #f9c400;
}

/* Input de foto */
.fileInput {
  font-size: 16px;
  color: white;
}

/* Botón eliminar */
.deleteContainer {
  margin-top: 40px;
  text-align: center;
}

.deleteContainer button:hover {
  background-color: #F30B0B !important;
  color: white !important;
}