.background {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(23, 0, 48, 1) 100%
  );
  height: calc(100vh - 5rem);
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-top: 80px;
}
