.button {
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
  border: 1px !important;
  border-style: solid !important;
  border-color: white !important;
  border-radius: 30px !important;
  padding: 0.7rem !important;
  background-color: rgb(0, 0, 0) !important;
}

.button:hover {
  background-color: rgb(255, 205, 0) !important;
  color: rgb(255, 255, 255) !important;
}
