.cardLogin {
  background-color: rgba(110, 110, 110, 0.397) !important;
  border-radius: 30px !important;
  text-align: center !important;
  width: 70vh !important;
}

.GoogleLogin {
  border-radius: 30px !important;
}
