.navColor {
  background-color: #000000 !important;
  color: rgb(255, 255, 255);
  font-size: 1rem !important;
  height: 5rem;
}

.baseProfileBtn {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(255, 210, 28, 1) !important;
  border-radius: 30px !important;
}

.baseProfileBtn:hover {
  background-color: rgba(255, 210, 28, 1) !important;
  color: black !important;
  border-color: rgba(255, 210, 28, 1) !important;
}

.menuProfile {
  background-color: black !important;
}

.optionMenuProfile {
  color: white !important;
}
.optionMenuProfile:hover {
  background-color: rgba(255, 210, 28, 1) !important;
  color: black !important;
}
