.navColor {
  background-color: #000000 !important;
  color: white !important;
  font-size: 1rem !important;
  height: 5rem;
}

.baseProfileBtn {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 210, 28, 1);
  border-radius: 30px;
}

.baseProfileBtn:hover {
  background-color: rgba(255, 210, 28, 1);
  color: black !important;
  border-color: rgba(255, 210, 28, 1);
}

.menuProfile {
  background-color: black;
}

.optionMenuProfile {
  color: white;
}
.optionMenuProfile:hover {
  background-color: rgba(255, 210, 28, 1);
  color: black !important;
}
