.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;  
  justify-items: center;
  padding: 12px 0;
  color: white;
  font-size: 20px;
  gap: 40px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.approve {
  background-color: #089C00;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.deny {
  background-color: #F30B0B;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.approve:hover {
  opacity: 0.9;
}

.deny:hover {
  opacity: 0.9;
}
